@import 'tailwindcss';

:root {
  --color-primary: #d52d81;
  --color-secondary: #b384e0;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-inter);
}

button {
  cursor: pointer;
}
